@use "variables" as *;
@use "sass:math";

@function cols($value) {
    @return $col-width * $value;
}

@function smooth-value($firstValue, $secondValue, $firstPoint, $secondPoint, $dimension) {
    @return calc(
        #{$firstValue}px
        + (#{$secondValue} - #{$firstValue})
        * (100v#{$dimension} - #{$firstPoint}px)
        / (#{$secondPoint} - #{$firstPoint})
    );
}

@function vw($value, $base: fhd) {
    @return $value / map-get($breakpoints, $base) * 100vw;
}

@function vh($value, $base: 1080) {
    @if ($base == $xs-h) {
        @return #{$value}px;
    }
    @return $value / $base * 100vh;
}

@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }
    @return $number;
}

@function unit($size, $root-font-size: 16) {
    @return ($size / $root-font-size);
}

@function rem($size, $root-font-size: 16) {
    @return  unit($size, $root-font-size) * 1rem;
}

@function clamped-between-points($min-px, $max-px, $min-breakpoint, $max-breakpoint) {
    $slope: ($max-px - $min-px) / (map-get($breakpoints, $max-breakpoint) - map-get($breakpoints, $min-breakpoint));
    $slope-vw: $slope * 100;
    $intercept-rems: rem($min-px - $slope * map-get($breakpoints, $min-breakpoint));
    $min-rems: rem($min-px);
    $max-rems: rem($max-px);

    @return clamp(#{$min-rems}, calc(#{$slope-vw}vw + #{$intercept-rems}), #{$max-rems});
}
