$grid-columns: 24;
$col-width: 100vw / $grid-columns;

$breakpoints: (
    xs: 375,
    md: 768,
    xl: 1280,
    xxl: 1440,
    fhd: 1920,
    qhd: 2560,
    uhd: 3840,
);

$breakpoints-height: (
    xs: 812,
    md: 1024,
    xl: 720,
    xxl: 900,
    fhd: 1080,
    qhd: 1440,
    uhd: 2160,
);

$xs: map-get($breakpoints, xs);
$md: map-get($breakpoints, md);
$xl: map-get($breakpoints, xl);
$xxl: map-get($breakpoints, xxl);
$fhd: map-get($breakpoints, fhd);
$qhd: map-get($breakpoints, qhd);
$uhd: map-get($breakpoints, uhd);

$xs-h: map-get($breakpoints-height, xs);
$md-h: map-get($breakpoints-height, md);
$xl-h: map-get($breakpoints-height, xl);
$xxl-h: map-get($breakpoints-height, xxl);
$fhd-h: map-get($breakpoints-height, fhd);
$qhd-h: map-get($breakpoints-height, qhd);
$uhd-h: map-get($breakpoints-height, uhd);

// Z-индексы
$increase-z: 10;
$decrease-z: -10;
$z-index-header: 100;
$z-index-modal: $z-index-header + $increase-z;
$z-index-cookies: $z-index-modal + $increase-z;
$z-index-preloader: $z-index-cookies + $increase-z;

// Transitions
$base-transition-time: 0.3s;
$base-transition-timing-function: ease-in-out;
$base-transition: $base-transition-time $base-transition-time;
