.container {
    width: 100vw;
    padding: 20px;
    background-color: lightblue;

    hr {
        margin-top: 10px;
        background-color: red;
    }
}

.title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}