.container {
    width: 100vw;
    padding: 20px;
    background-color: lightblue;
    margin-bottom: 40px;
    border-radius: 40px;
    overflow: hidden;

    hr {
        margin-top: 10px;
        background-color: red;
    }
}

.title {
    width: 100%;
    text-align: center;
}
